@{
  ViewData["Title"] = "Create Animal";
}

@model AnimalShelterClient.Models.Animal

<h4>Add a new animal:</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <br>
    @Html.LabelFor(model => model.Species)
    @Html.TextBoxFor(model => model.Species)
    <br>
    @Html.LabelFor(model => model.Breed)
    @Html.TextBoxFor(model => model.Breed)
    <br>
    @Html.LabelFor(model => model.Age)
    @Html.TextBoxFor(model => model.Age)
    <br>
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)
    <br>
    <div>
        @Html.LabelFor(model => model.Available)
        <br>
        <label>
            @Html.RadioButtonFor(model => model.Available, true)
            Available
        </label>
        <br>
        <label>
            @Html.RadioButtonFor(model => model.Available, false)
            Not Available
        </label>
    </div>
    <br>
    <input type="submit" value="Add new animal" class="btn btn-primary"/>
}

<br>
<p>@Html.ActionLink("Back to all animals", "Index")</p>